{% extends 'base.html.twig' %}

{% block title %} AUTOMOBILE {% endblock %}

{% block body %}

{% include "base/navautomobile.html.twig" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1">

            <div id="toutes-marques">
                <h2 class="automobile">TOUTES MARQUES</h2>
                {% for article in articles %}
                {# TOUTES MARQUES #}
                <h3 class="automobile-titre">{{ article.titre }}</h3>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 offset-md-3">
                        <img src="{{asset(article.image) }}" alt="{{ article.imagealt }}" />
                        <span class="credit">Crédit:{{ article.credit }}</span>
                    </div>
                    <div class="col-12">

                        <p class="article">{{ article.contenu }}</p>
                    </div>

                </div>

                <span class="date heure-date">

                </span>

                <div class="date"> <img class="horloge" src="{{ asset('build/images/clock.svg') }}" /> Publié le: {{
                    article.datepublication|date("d/m/Y") }}
                    à {{ article.datemodification|date("H:i") }}</div>

                <hr>
            </div>

            {% endfor %}


            {% for article in misesenavant %}
            {# ESPACE MERCEDES #}
            <div id="espace-mercedes">
                <h2 class="automobile">ESPACE MERCEDES</h2>
                <h3 class="automobile-titre">{{ article.titre }}</h3>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 offset-md-3">
                        <img src="{{asset(article.image) }}" alt="{{ article.imagealt }}" />
                        <span class="credit">Crédit:{{ article.credit }}</span>
                    </div>
                    <div class="col-12">

                        <p class="article">{{ article.contenu }}</p>
                    </div>

                </div>

                <span class="date heure-date">

                </span>

                <div class="date"> <img class="horloge" src="{{ asset('build/images/clock.svg') }}" /> Publié le: {{
                    article.datepublication|date("d/m/Y") }}
                    à {{ article.datemodification|date("H:i") }}</div>

                <hr>
            </div>

            {% endfor %}

        </div>

    </div>
</div>


{% endblock %}